<template>
  <div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elite Hospital</p>
        </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <navbar />
      <left-side-bar />
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          
          <!-- ============================================================== -->
          <!-- Info box -->
          <!-- ============================================================== -->
          <main>
            <slot></slot>
          </main>

          <rightsidebar/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LeftSideBar from "@/Pages/Admin/Layouts/LeftSideBar.vue";
import navbar from "@/Pages/Admin/Layouts/Nav";
import breadcumb from "@/Pages/Admin/Layouts/BreadCumb";
import rightsidebar from "@/Pages/Admin/Layouts/RightSideBar";
export default {
  components: {
    LeftSideBar,
    navbar,
    breadcumb,
    rightsidebar
  },
};
</script>

<style>
</style>