<template>
  <admin-app-layout>
      <BreadCumb Route="roles.index" Sub="Roles"/>

  

    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">New Role</h5>
            <div class="row">
              <div class="col-sm-12">
                <form class="form-horizontal row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label" for="inputSuccess1"
                        >Role Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="role_name"
                        v-model="form.role_name"
                      />
                      <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div>
                    <button
                      type="button"
                      class="btn btn-primary"
                      :disabled="form.processing"
                       @click="submit()"
                    >
                      <span
                        v-if="form.processing"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      <span v-if="form.processing">Loding...</span>
                      <span v-else>Submit</span>
                    </button>
                    <button
                      type="button"
                      @click="resetFrom()"
                      class="btn btn-inverse"
                    >
                      Cancel
                    </button>
                  </div>
                  </div>
                  
                  <div class="row mb-2">
                    <div
                      class="col-md-6 col-sm-6 mt-6"
                      v-for="(section, index) in all_permissions"
                      :key="index"
                    >
                      <h4 class="card-title">
                        {{ index[0].toUpperCase() + index.slice(1) }}
                        <!-- {{index.replaceAll(' ', '')}} -->
                      </h4>
                      <ul class="list-group">
                        <li class="list-group-item bg-primary">
                          <input
                            class="mr-3"
                            type="checkbox"
                            :id="'checkbox_' + index.replaceAll(' ', '')"
                            @click="toggleCheckboxes(index.replaceAll(' ', ''))"
                          />
                          Select All
                        </li>
                        <li
                          v-for="perm in section"
                          :key="perm.id"
                          href="javascript:void(0)"
                          class="list-group-item"
                        >
                          <input
                            :class="
                              'mr-3 perm_checkbox ' + index.replaceAll(' ', '')
                            "
                            type="checkbox"
                            v-model="form.permissions"
                            :value="perm.name"
                          />
                          <!-- {{this_role_permissions}} -->
                          {{ perm.ft_name }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </admin-app-layout>
</template>

<script>
import AdminAppLayout from "@/Pages/Admin/Layouts/AdminAppLayout.vue";
import BreadCumb from "@/Pages/Admin/Layouts/BreadCumb.vue";
export default {
  props: ["all_permissions"],
  components: {
    AdminAppLayout,
    BreadCumb,
  },
  data() {
    return {
      form: this.$inertia.form({
        id: null,
        role_name: "",
        permissions: [],
      }),
    };
  },
  methods: {
    submit() {
      if (this.form.id != null) {
        return this.update();
      } else {
        return this.store();
      }
    },
    store() {
      // return console.log(this.form.role_name)
      this.form.post(route("roles.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          // return this.$root.show_swal("Role Created!", "success");
        },
        onError: () => {
          // this.$root.show_swal("Something went wrong!", "error");
        },
      });
    },
    update() {
      this.form.put(route("roles.update"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          return this.$root.show_swal("Role Updated!", "success");
        },
        onError: () => {
          this.$root.show_swal("Something went wrong!", "error");
        },
      });
    },
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },

    toggleCheckboxes(section_name) {
      let parent_checkbox = document.querySelector(`#checkbox_${section_name}`);
      let checkboxes = document.querySelectorAll(
        `.perm_checkbox.${section_name}`
      );

      for (let checkbox of checkboxes) {
        checkbox.checked = parent_checkbox.checked;

        if (checkbox.checked) {
          // console.log(this.form.permissions.indexOf(checkbox.value) )
          if (this.form.permissions.indexOf(checkbox.value) === -1) {
            this.form.permissions.push(checkbox.value);
          }
          // console.log(this.form.permissions);
        } else {
          let index = this.form.permissions.indexOf(checkbox.value);
          this.form.permissions.splice(index, 1);
          // console.log(this.form.permissions);
        }
      }
    },

    checkCheckboxes() {
      let checkboxes = document.querySelectorAll(`.perm_checkbox`);

      for (let checkbox of checkboxes) {
        for (let perm of this.edit_role.permissions) {
          // console.log(perm.name, checkbox.value, checkbox.value === perm.name);
          if (checkbox.value === perm.name) {
            checkbox.checked = true;

            // console.log(this.form.permissions.indexOf(checkbox.value) )

            if (this.form.permissions.indexOf(checkbox.value) === -1) {
              this.form.permissions.push(checkbox.value);
            }
          }
        }
      }

      console.log(this.form.permissions);
    },
  },
};
</script>

<style>
</style>