<template>
    <div class="card">
        <div class="card-body">         
        <h5 class="card-title"><slot name="title"></slot></h5>
        <h6 class="card-subtitle"><slot name="subtitle"></slot></h6>
            <div class="row">
                <div class="col-sm-12">
                    <form @submit.prevent="$emit('submitted')">
                         <slot name="form"></slot>
                        
                         <div class="text-xs-right" v-if="hasActions">
                            <slot name="actions"></slot>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
       
        computed: {
            hasActions() {
                return !! this.$slots.actions
            }
        }
    }
</script>
