<template>
  <admin-app-layout>
            <BreadCumb Route="users.index" Sub="Users"/>


    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">New User</h5>
            <div class="row">
              <div class="col-sm-12">
                <form class="form-horizontal row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label class="form-control-label" for="inputSuccess1"
                            >User Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            v-model="form.name"
                          />
                          <div class="valid-feedback">
                            Success! You've done it.
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label class="form-control-label" for="inputSuccess1"
                            >User Email</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="email"
                            v-model="form.email"
                          />
                          <div class="valid-feedback">
                            Success! You've done it.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="">User Role</label>
                          <select v-model="form.role" class="form-control">
                            <option value="">SELECT</option>

                            <option
                              v-for="role in all_roles"
                              :key="role.id"
                              :value="role.name"
                            >
                              {{ role.name }}
                            </option>
                          </select>
                          <span
                            v-if="form.errors.role_name"
                            class="text-danger"
                            >{{ form.errors.role_name }}</span
                          >
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group ">
                          <button
                            type="button"
                            class="btn btn-primary mt-3"
                            :disabled="form.processing"
                            @click="submit()"
                          >
                            <span
                              v-if="form.processing"
                              class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"
                            ></span>
                            <span v-if="form.processing">Loding...</span>
                            <span v-else>Submit</span>
                          </button>
                          <button
                            type="button"
                            @click="resetFrom()"
                            class="btn btn-inverse mt-3"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </admin-app-layout>
</template>

<script>
import AdminAppLayout from "@/Pages/Admin/Layouts/AdminAppLayout.vue";
import BreadCumb from "@/Pages/Admin/Layouts/BreadCumb.vue";
export default {
  props: ["all_roles"],
  components: {
    AdminAppLayout,
    BreadCumb,
  },
  data() {
    return {
      form: this.$inertia.form({
        name: '',
        email: '',
        role: '',
      }),
    };
  },
  methods: {
    submit() {
      if (this.form.id != null) {
        return this.update();
      } else {
        return this.store();
      }
    },
    store() {
      // return console.log(this.form.role_name)
      this.form.post(route("users.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          // return this.$root.show_swal("Role Created!", "success");
        },
        onError: () => {
          // this.$root.show_swal("Something went wrong!", "error");
        },
      });
    },
    
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },

    
  },
};
</script>

<style>
</style>